<%- include("partials/header.ejs") %>

<div class="content">
    <section class="blog-posts">
        <div class="container">
            <div class="row">
                <% if (postData && postData.length > 0) { %>
                    <% postData.forEach(post => { %>
                <div class="col-lg-4">
                    <article class="post">
                        <img src="img/<%= post.imagePath %>" alt=<%= post.imagePath %> class="post-img">
                        <h2 class="post-title"><%= post.postTitle %></h2>
                        <p class="post-content"><%= post.postContent %></p>
                        <a href="#" class="btn btn-primary">Read more</a>
                    </article>
                </div>
            <% });} else {%>
                <h2>Brak postów do wyśietlenia</h2>
            <% } %>
                
            </div>
        </div>
    </section>
</div>

<%- include("partials/footer.ejs") %>
