<%- include("partials/header.ejs") %>
    <main>
        <section class="blog-posts">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 post">
                        <article>
                            <img src="img/<%= post.imagePath %>" alt="<%= post.imagePath %>" class="post-img">
                            <h2 class="post-title">
                                <%= post.postTitle %>
                            </h2>
                            <p class="post-content">
                                <%= post.postContent %>
                            </p>
                        </article>

                        <div class="mt-5 add-coment">
                            <p class="add-coment-header">Dodaj komentarz</p>
                            <form id="commentForm">
                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="name">Imię:</label>
                                        <input type="text" id="name" name="name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <input type="email" id="email" name="email" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="comment">Komentarz:</label>
                                    <textarea id="comment" name="comment" rows="5" required></textarea>
                                </div>
                                <button type="submit">Dodaj Komentarz</button>
                            </form>
                        </div>

                        <div class="comments-section">
                            <h3 class="comments-header">Komentarze</h3>
                            <% if (commentData && commentData.length> 0) { %>
                                <% commentData.forEach(comment=> { %>
                                    <% if (comment.postId==post.id) { %>

                                        <div class="comment">
                                            <p class="comment-name">
                                                <%= comment.commentName %>
                                            </p>
                                            <p class="comment-date">
                                                <%= comment.commentDate %>
                                            </p>
                                            <p class="comment-text">
                                                <%= comment.commentContent%>
                                            </p>
                                        </div>

                                        <% } else { %>
                                            <div class="comment">
                                                <p>Comments not found</p>
                                            </div>
                                            <% } }); } else {%>
                                                <div class="comment">
                                                    <p>Comments not found</p>
                                                </div>
                                                <% } %>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <aside class="sidebar">
                            <h3>Also interested</h3>
                            <% if (postData && postData.length> 0) { %>
                                <% for (let i=0; i < 3; i++) { %>
                                    <% let index=Math.floor(Math.random() * postData.length) %>
                                        <a href="/read-post/<%= postData[index].id %>" class="no-style-link">
                                            <div class="post-preview">
                                                <img src="img/<%= postData[index].imagePath %>"
                                                    alt="<%= postData[index].imagePath %>" class="post-preview-img">
                                                <h4 class="post-preview-title">
                                                    <%= postData[index].postTitle %>
                                                </h4>
                                        </a>
                                        <div class="divider"></div>
                    </div>
                    <% } } else { %>
                        <p>Not posts found!</p>
                        <% } %>
                            </aside>
                </div>
            </div>
            </div>
        </section>
    </main>


    <%- include("partials/footer.ejs") %>